In [2]:
!pip install pandas numpy scipy semopy openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (1.16.3)
Collecting semopy
  Downloading semopy-2.3.11.tar.gz (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 18.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.12/dist-packages (from semopy) (1.14.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (from semopy) (1.6.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.12/dist-packages (from semopy) (0.14.5)
Collecting numdifftools (from semopy)
  Downloading numdifftools-0.9.41-py2.py3-none-any.whl.metadata (39 kB)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->semopy) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn->semopy) (3.6.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels->semopy) (1.0.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels->semopy) (25.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from sympy->semopy) (1.3.0)
Downloading numdifftools-0.9.41-py2.py3-none-any.whl (100 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.2/100.2 kB 7.2 MB/s eta 0:00:00
Building wheels for collected packages: semopy
  Building wheel for semopy (setup.py) ... done
  Created wheel for semopy: filename=semopy-2.3.11-py3-none-any.whl size=1659682 sha256=3719e6af369229ea72ac00b33360b06b568f1ec9c43045eba56e3393b7818e28
  Stored in directory: /root/.cache/pip/wheels/c6/24/8b/be911b059a61f490f38425eb19bf2fed470a5ead97228e8255
Successfully built semopy
Installing collected packages: numdifftools, semopy
Successfully installed numdifftools-0.9.41 semopy-2.3.11

In [3]:
import pandas as pd
import numpy as np
from scipy import stats

# untuk CFA
from semopy import Model, calc_stats

#**Load Data**

###**Import data dari Excel.**

In [4]:
dataset = pd.read_excel("https://docs.google.com/spreadsheets/d/1UOX-UTRSXrP04HZdSOEkizD8lnnEbJYuK6mb7luRZDA/export?format=xlsx", engine='openpyxl')

In [ ]:
dataset

,Timestamp,Nama,Perguruan Tinggi,Jurusan,Saya mengetahui bahwa IHSG mencerminkan kinerja keseluruhan pasar saham di Indonesia.,Saya memahami bahwa kenaikan IHSG menunjukkan meningkatnya harga rata-rata saham.,"Saya tahu faktor-faktor yang dapat memengaruhi pergerakan IHSG, seperti inflasi atau suku bunga.",Saya memahami perbedaan antara IHSG dan indeks saham sektoral.,Saya mengetahui bagaimana IHSG dapat dijadikan acuan untuk keputusan investasi.,Saya menilai IHSG merupakan instrumen investasi yang memiliki risiko tinggi.,...,Saya mendapatkan informasi tentang IHSG dari teman atau keluarga.,Saya membicarakan IHSG atau saham bersama teman kampus.,Saya melihat konten media sosial yang membahas pergerakan IHSG.,Saya mengikuti seminar atau webinar tentang investasi saham.,Saya mendapat dorongan dari orang lain untuk mulai berinvestasi di saham.,Saya berniat membuka rekening efek dalam waktu dekat.,Saya tertarik mengikuti pelatihan atau seminar investasi saham.,Saya berencana memantau pergerakan IHSG secara rutin.,Saya ingin mulai berinvestasi di saham dalam jangka waktu satu tahun.,Saya menilai IHSG sebagai tempat investasi yang menguntungkan.
0,2025-10-13 01:42:14.761,Tegar Jaya Wibowo,Universitas Negeri Malang,S1 Pendidikan Teknik Bangunan,3,4,4,4,4,3,...,Jarang,Kadang-kadang,Jarang,Tidak pernah,Jarang,3,3,3,3,3
1,2025-10-13 03:49:33.865,Muhammad Daffa Teuku Filan Alfarizhi,POLITEKNIK ELEKTRONIKA NEGERI SURABAYA,D3 PJJ Teknik Informatika,5,5,3,3,5,3,...,Kadang-kadang,Kadang-kadang,Kadang-kadang,Tidak pernah,Kadang-kadang,3,3,4,4,4
2,2025-10-13 03:56:19.245,Muhammad Harits Fadhillah,Politeknik Perkapalan Negeri Surabaya,Teknik Permesinan Kapal,4,4,4,3,4,3,...,Kadang-kadang,Sering,Sering,Kadang-kadang,Sering,4,4,4,4,4
3,2025-10-13 04:27:40.493,Paula,Iik bhakti wiyata Kediri,Farmasi,4,4,4,3,4,3,...,Kadang-kadang,Kadang-kadang,Kadang-kadang,Tidak pernah,Kadang-kadang,1,2,3,1,4
4,2025-10-13 06:20:07.392,Kayla,PENS,Sains Data,3,3,3,2,2,3,...,Selalu,Tidak pernah,Kadang-kadang,Tidak pernah,Tidak pernah,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,2025-10-30 12:21:40.419,Bintang,PENS,D4 Sains Data Terapan,5,5,3,3,5,5,...,Tidak pernah,Jarang,Sering,Tidak pernah,Kadang-kadang,3,4,3,4,4
142,2025-10-30 12:22:58.906,Queen Fatih Karimy,Politeknik Elektronika Negeri Surabaya,Sains Data Terapan,4,4,4,3,4,5,...,Tidak pernah,Tidak pernah,Kadang-kadang,Tidak pernah,Tidak pernah,3,3,3,3,3
143,2025-10-30 12:24:37.534,Dhana Natasya Safira,PENS,Sains Data Terapan,5,4,4,3,4,4,...,Kadang-kadang,Jarang,Kadang-kadang,Tidak pernah,Tidak pernah,3,3,1,2,3
144,2025-11-07 17:36:56.655,Kalistianisa,Universitas Mulawarman,Manajemen,4,4,4,3,4,3,...,Tidak pernah,Jarang,Sering,Kadang-kadang,Kadang-kadang,2,4,3,3,4
145,2025-11-08 22:38:12.510,Naufal Rahman,Itk,Statistika,4,4,5,5,4,4,...,Tidak pernah,Kadang-kadang,Sering,Sering,Sering,4,4,4,4,4

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 35 columns):
 #   Column                                                                                            Non-Null Count  Dtype
---  ------                                                                                            --------------  -----
 0   Timestamp                                                                                         146 non-null    datetime64[ns]
 1   Nama                                                                                              146 non-null    object
 2   Perguruan Tinggi                                                                                  146 non-null    object
 3   Jurusan                                                                                           146 non-null    object
 4   Saya mengetahui bahwa IHSG mencerminkan kinerja keseluruhan pasar saham di Indonesia.             146 non-null    int64
 5   Saya memahami bahwa kenaikan IHSG menunjukkan meningkatnya harga rata-rata saham.                 146 non-null    int64
 6   Saya tahu faktor-faktor yang dapat memengaruhi pergerakan IHSG, seperti inflasi atau suku bunga.  146 non-null    int64
 7   Saya memahami perbedaan antara IHSG dan indeks saham sektoral.                                    146 non-null    int64
 8   Saya mengetahui bagaimana IHSG dapat dijadikan acuan untuk keputusan investasi.                   146 non-null    int64
 9   Saya menilai IHSG merupakan instrumen investasi yang memiliki risiko tinggi.                      146 non-null    int64
 10  Saya merasa fluktuasi IHSG membuat investor sulit memperkirakan keuntungan.                       146 non-null    int64
 11  Saya percaya risiko dalam IHSG dapat dikendalikan dengan strategi investasi yang tepat.           146 non-null    int64
 12  Saya menganggap investasi pada IHSG tidak cocok bagi investor pemula.                             146 non-null    int64
 13  Saya merasa perubahan kondisi ekonomi nasional sangat memengaruhi risiko investasi di IHSG.       146 non-null    int64
 14  Menurut saya, IHSG adalah indikator yang …                                                        146 non-null    int64
 15  IHSG mencerminkan ekonomi Indonesia yang …                                                        146 non-null    int64
 16  Transparansi IHSG dalam mencerminkan kondisi pasar adalah …                                       146 non-null    int64
 17  Informasi yang diberikan oleh IHSG bersifat …                                                     146 non-null    int64
 18  Secara umum, IHSG adalah alat analisis yang …                                                     146 non-null    int64
 19  Di mana saja anda Pernah berinvestasi                                                             146 non-null    object
 20  Lama pengalaman investasi                                                                         146 non-null    object
 21  Saya memahami cara membeli dan menjual saham di Bursa Efek Indonesia.                             146 non-null    int64
 22

Saya mengetahui perbedaan antara investasi dan spekulasi saham.                                 146 non-null    int64
 23  Saya pernah mempelajari cara membaca grafik pergerakan harga saham.                               146 non-null    int64
 24  Saya merasa memiliki kemampuan untuk mulai berinvestasi di pasar saham.                           146 non-null    int64
 25  Saya mendapatkan informasi tentang IHSG dari teman atau keluarga.                                 146 non-null    object
 26  Saya membicarakan IHSG atau saham bersama teman kampus.                                           146 non-null    object
 27  Saya melihat konten media sosial yang membahas pergerakan IHSG.                                   146 non-null    object
 28  Saya mengikuti seminar atau webinar tentang investasi saham.                                      146 non-null    object
 29  Saya mendapat dorongan dari orang lain untuk mulai berinvestasi di saham.                         146 non-null    object
 30  Saya berniat membuka rekening efek dalam waktu dekat.                                             146 non-null    int64
 31  Saya tertarik mengikuti pelatihan atau seminar investasi saham.                                   146 non-null    int64
 32  Saya berencana memantau pergerakan IHSG secara rutin.                                             146 non-null    int64
 33  Saya ingin mulai berinvestasi di saham dalam jangka waktu satu tahun.                             146 non-null    int64
 34  Saya menilai IHSG sebagai tempat investasi yang menguntungkan.                                    146 non-null    int64
dtypes: datetime64[ns](1), int64(24), object(10)
memory usage: 40.1+ KB

#**Preprocessing**

##**Rename columns**

In [5]:
mapping = {
    4: 'X1_1',
    5: 'X1_2',
    6: 'X1_3',
    7: 'X1_4',
    8: 'X1_5',
    9: 'X2_1',
    10: 'X2_2',
    11: 'X2_3',
    12: 'X2_4',
    13: 'X2_5',
    14: 'X3_1',
    15: 'X3_2',
    16: 'X3_3',
    17: 'X3_4',
    18: 'X3_5',
    21: 'X5_1',
    22: 'X5_2',
    23: 'X5_3',
    24: 'X5_4',
    25: 'X6_1',
    26: 'X6_2',
    27: 'X6_3',
    28: 'X6_4',
    29: 'X6_5',
    30: 'X7_1',
    31: 'X7_2',
    32: 'X7_3',
    33: 'X7_4',
    34: 'X7_5',
}

dataset.columns = [mapping.get(i, col) for i, col in enumerate(dataset.columns)]

In [ ]:
dataset

,Timestamp,Nama,Perguruan Tinggi,Jurusan,X1_1,X1_2,X1_3,X1_4,X1_5,X2_1,...,X6_1,X6_2,X6_3,X6_4,X6_5,X7_1,X7_2,X7_3,X7_4,X7_5
0,2025-10-13 01:42:14.761,Tegar Jaya Wibowo,Universitas Negeri Malang,S1 Pendidikan Teknik Bangunan,3,4,4,4,4,3,...,Jarang,Kadang-kadang,Jarang,Tidak pernah,Jarang,3,3,3,3,3
1,2025-10-13 03:49:33.865,Muhammad Daffa Teuku Filan Alfarizhi,POLITEKNIK ELEKTRONIKA NEGERI SURABAYA,D3 PJJ Teknik Informatika,5,5,3,3,5,3,...,Kadang-kadang,Kadang-kadang,Kadang-kadang,Tidak pernah,Kadang-kadang,3,3,4,4,4
2,2025-10-13 03:56:19.245,Muhammad Harits Fadhillah,Politeknik Perkapalan Negeri Surabaya,Teknik Permesinan Kapal,4,4,4,3,4,3,...,Kadang-kadang,Sering,Sering,Kadang-kadang,Sering,4,4,4,4,4
3,2025-10-13 04:27:40.493,Paula,Iik bhakti wiyata Kediri,Farmasi,4,4,4,3,4,3,...,Kadang-kadang,Kadang-kadang,Kadang-kadang,Tidak pernah,Kadang-kadang,1,2,3,1,4
4,2025-10-13 06:20:07.392,Kayla,PENS,Sains Data,3,3,3,2,2,3,...,Selalu,Tidak pernah,Kadang-kadang,Tidak pernah,Tidak pernah,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,2025-10-30 12:21:40.419,Bintang,PENS,D4 Sains Data Terapan,5,5,3,3,5,5,...,Tidak pernah,Jarang,Sering,Tidak pernah,Kadang-kadang,3,4,3,4,4
142,2025-10-30 12:22:58.906,Queen Fatih Karimy,Politeknik Elektronika Negeri Surabaya,Sains Data Terapan,4,4,4,3,4,5,...,Tidak pernah,Tidak pernah,Kadang-kadang,Tidak pernah,Tidak pernah,3,3,3,3,3
143,2025-10-30 12:24:37.534,Dhana Natasya Safira,PENS,Sains Data Terapan,5,4,4,3,4,4,...,Kadang-kadang,Jarang,Kadang-kadang,Tidak pernah,Tidak pernah,3,3,1,2,3
144,2025-11-07 17:36:56.655,Kalistianisa,Universitas Mulawarman,Manajemen,4,4,4,3,4,3,...,Tidak pernah,Jarang,Sering,Kadang-kadang,Kadang-kadang,2,4,3,3,4
145,2025-11-08 22:38:12.510,Naufal Rahman,Itk,Statistika,4,4,5,5,4,4,...,Tidak pernah,Kadang-kadang,Sering,Sering,Sering,4,4,4,4,4

##**Label Encoder**

In [ ]:
dataset['X6_1'].unique()

array(['Jarang', 'Kadang-kadang', 'Selalu', 'Tidak pernah', 'Sering'],
      dtype=object)

In [ ]:
dataset['X6_2'].unique()

array(['Kadang-kadang', 'Sering', 'Tidak pernah', 'Jarang', 'Selalu'],
      dtype=object)

In [ ]:
dataset['X6_3'].unique()

array(['Jarang', 'Kadang-kadang', 'Sering', 'Selalu', 'Tidak pernah'],
      dtype=object)

In [ ]:
dataset['X6_4'].unique()

array(['Tidak pernah', 'Kadang-kadang', 'Jarang', 'Selalu', 'Sering'],
      dtype=object)

In [ ]:
dataset['X6_5'].unique()

array(['Jarang', 'Kadang-kadang', 'Sering', 'Tidak pernah', 'Selalu'],
      dtype=object)

In [ ]:
dataset.columns

Index(['Timestamp', 'Nama', 'Perguruan Tinggi', 'Jurusan ', 'X1_1', 'X1_2',
       'X1_3', 'X1_4', 'X1_5', 'X2_1', 'X2_2', 'X2_3', 'X2_4', 'X2_5', 'X3_1',
       'X3_2', 'X3_3', 'X3_4', 'X3_5', 'Di mana saja anda Pernah berinvestasi',
       'Lama pengalaman investasi', 'X5_1', 'X5_2', 'X5_3', 'X5_4', 'X6_1',
       'X6_2', 'X6_3', 'X6_4', 'X6_5', 'X7_1', 'X7_2', 'X7_3', 'X7_4', 'X7_5'],
      dtype='object')

In [6]:
mapping = {
    'Selalu': 1,
    'Sering': 2,
    'Kadang-kadang': 3,
    'Jarang': 4,
    'Tidak pernah': 5
}

kolom = ['X6_1','X6_2', 'X6_3', 'X6_4', 'X6_5']

dataset[kolom] = dataset[kolom].replace(mapping)

/tmp/ipython-input-735753409.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset[kolom] = dataset[kolom].replace(mapping)

##**Selection Likert Columns**

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 35 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Timestamp                              146 non-null    datetime64[ns]
 1   Nama                                   146 non-null    object
 2   Perguruan Tinggi                       146 non-null    object
 3   Jurusan                                146 non-null    object
 4   X1_1                                   146 non-null    int64
 5   X1_2                                   146 non-null    int64
 6   X1_3                                   146 non-null    int64
 7   X1_4                                   146 non-null    int64
 8   X1_5                                   146 non-null    int64
 9   X2_1                                   146 non-null    int64
 10  X2_2                                   146 non-null    int64
 11  X2_3                                   146 non-null    int64
 12  X2_4                                   146 non-null    int64
 13  X2_5                                   146 non-null    int64
 14  X3_1                                   146 non-null    int64
 15  X3_2                                   146 non-null    int64
 16  X3_3                                   146 non-null    int64
 17  X3_4                                   146 non-null    int64
 18  X3_5                                   146 non-null    int64
 19  Di mana saja anda Pernah berinvestasi  146 non-null    object
 20  Lama pengalaman investasi              146 non-null    object
 21  X5_1                                   146 non-null    int64
 22  X5_2                                   146 non-null    int64
 23  X5_3                                   146 non-null    int64
 24  X5_4                                   146 non-null    int64
 25  X6_1                                   146 non-null    int64
 26  X6_2                                   146 non-null    int64
 27  X6_3                                   146 non-null    int64
 28  X6_4                                   146 non-null    int64
 29  X6_5                                   146 non-null    int64
 30  X7_1                                   146 non-null    int64
 31  X7_2                                   146 non-null    int64
 32  X7_3                                   146 non-null    int64
 33  X7_4                                   146 non-null    int64
 34  X7_5                                   146 non-null    int64
dtypes: datetime64[ns](1), int64(29), object(5)
memory usage: 40.1+ KB

In [8]:
X1_cols = ["X1_1", "X1_2", "X1_3", "X1_4", "X1_5"]
X2_cols = ["X2_1", "X2_2", "X2_3", "X2_4", "X2_5"]
X3_cols = ["X3_1", "X3_2", "X3_3", "X3_4", "X3_5"]
X5_cols = ["X5_1", "X5_2", "X5_3", "X5_4"]
X6_cols = ["X6_1", "X6_2", "X6_3", "X6_4", "X6_5"]
X7_cols = ["X7_1", "X7_2", "X7_3", "X7_4", "X7_5"]

all_item_cols = X1_cols + X2_cols + X3_cols + X5_cols + X6_cols + X7_cols

# Hanya ambil item Likert
dataset = dataset[all_item_cols].copy()

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1_1    146 non-null    int64
 1   X1_2    146 non-null    int64
 2   X1_3    146 non-null    int64
 3   X1_4    146 non-null    int64
 4   X1_5    146 non-null    int64
 5   X2_1    146 non-null    int64
 6   X2_2    146 non-null    int64
 7   X2_3    146 non-null    int64
 8   X2_4    146 non-null    int64
 9   X2_5    146 non-null    int64
 10  X3_1    146 non-null    int64
 11  X3_2    146 non-null    int64
 12  X3_3    146 non-null    int64
 13  X3_4    146 non-null    int64
 14  X3_5    146 non-null    int64
 15  X5_1    146 non-null    int64
 16  X5_2    146 non-null    int64
 17  X5_3    146 non-null    int64
 18  X5_4    146 non-null    int64
 19  X6_1    146 non-null    int64
 20  X6_2    146 non-null    int64
 21  X6_3    146 non-null    int64
 22  X6_4    146 non-null    int64
 23  X6_5    146 non-null    int64
 24  X7_1    146 non-null    int64
 25  X7_2    146 non-null    int64
 26  X7_3    146 non-null    int64
 27  X7_4    146 non-null    int64
 28  X7_5    146 non-null    int64
dtypes: int64(29)
memory usage: 33.2 KB

In [10]:
dataset.isna().sum()

X1_1    0
X1_2    0
X1_3    0
X1_4    0
X1_5    0
X2_1    0
X2_2    0
X2_3    0
X2_4    0
X2_5    0
X3_1    0
X3_2    0
X3_3    0
X3_4    0
X3_5    0
X5_1    0
X5_2    0
X5_3    0
X5_4    0
X6_1    0
X6_2    0
X6_3    0
X6_4    0
X6_5    0
X7_1    0
X7_2    0
X7_3    0
X7_4    0
X7_5    0
dtype: int64

#**Cronbach’s Alpha Function & Item Total Correlation Function (Pearson Product Moment Correlation)**

In [12]:
def cronbach_alpha(df_scale: pd.DataFrame) -> float:
    """
    Hitung Cronbach's alpha untuk sekumpulan item (kolom).
    """
    itemscores = df_scale.to_numpy(dtype=float)
    n_items = itemscores.shape[1]
    item_variances = itemscores.var(axis=0, ddof=1)
    total_scores = itemscores.sum(axis=1)
    total_variance = total_scores.var(ddof=1)

    alpha = (n_items / (n_items - 1)) * (1 - item_variances.sum() / total_variance)
    return alpha


def item_total_correlation(df_scale: pd.DataFrame) -> pd.DataFrame:
    """
    Hitung corrected item-total correlation:
    korelasi tiap item dengan total skala tanpa item itu sendiri.
    """
    res = []
    for col in df_scale.columns:
        total_without = df_scale.drop(columns=[col]).sum(axis=1)
        r, p = stats.pearsonr(df_scale[col], total_without)
        res.append({
            "item": col,
            "r_item_total": r,
            "p_value": p
        })
    return pd.DataFrame(res)

#**Uji validitas (per konstruk X1, X2, X3, X5, X6, X7) dengan Pearson Product Moment Correlation**

In [13]:
scales = {
    "X1": X1_cols,
    "X2": X2_cols,
    "X3": X3_cols,
    "X5": X5_cols,
    "X6": X6_cols,
    "X7": X7_cols
}

validity_results = {}

for nama, cols in scales.items():
    df_scale = dataset[cols]
    res = item_total_correlation(df_scale)
    validity_results[nama] = res

    print(f"\n=== Uji Validitas {nama} ===")
    print(res)

    print("\nItem valid (r_item_total >= 0.30 & p < 0.05):")
    print(res[(res["r_item_total"] >= 0.30) & (res["p_value"] < 0.05)])

=== Uji Validitas X1 ===
   item  r_item_total       p_value
0  X1_1      0.798382  1.569581e-33
1  X1_2      0.806439  1.137482e-34
2  X1_3      0.723544  6.016137e-25
3  X1_4      0.705808  2.574726e-23
4  X1_5      0.732558  7.956301e-26

Item valid (r_item_total >= 0.30 & p < 0.05):
   item  r_item_total       p_value
0  X1_1      0.798382  1.569581e-33
1  X1_2      0.806439  1.137482e-34
2  X1_3      0.723544  6.016137e-25
3  X1_4      0.705808  2.574726e-23
4  X1_5      0.732558  7.956301e-26

=== Uji Validitas X2 ===
   item  r_item_total       p_value
0  X2_1      0.570989  5.267549e-14
1  X2_2      0.632894  1.033524e-17
2  X2_3      0.587671  6.305856e-15
3  X2_4      0.450197  1.189178e-08
4  X2_5      0.587428  6.509052e-15

Item valid (r_item_total >= 0.30 & p < 0.05):
   item  r_item_total       p_value
0  X2_1      0.570989  5.267549e-14
1  X2_2      0.632894  1.033524e-17
2  X2_3      0.587671  6.305856e-15
3  X2_4      0.450197  1.189178e-08
4  X2_5      0.587428  6.509052e-15

=== Uji Validitas X3 ===
   item  r_item_total       p_value
0  X3_1      0.749360  1.458508e-27
1  X3_2      0.530028  5.997254e-12
2  X3_3      0.738121  2.189941e-26
3  X3_4      0.769504  7.777672e-30
4  X3_5      0.772654  3.269525e-30

Item valid (r_item_total >= 0.30 & p < 0.05):
   item  r_item_total       p_value
0  X3_1      0.749360  1.458508e-27
1  X3_2      0.530028  5.997254e-12
2  X3_3      0.738121  2.189941e-26
3  X3_4      0.769504  7.777672e-30
4  X3_5      0.772654  3.269525e-30

=== Uji Validitas X5 ===
   item  r_item_total       p_value
0  X5_1      0.756627  2.341522e-28
1  X5_2      0.778728  5.905759e-31
2  X5_3      0.720056  1.288658e-24
3  X5_4      0.783025  1.703177e-31

Item valid (r_item_total >= 0.30 & p < 0.05):
   item  r_item_total       p_value
0  X5_1      0.756627  2.341522e-28
1  X5_2      0.778728  5.905759e-31
2  X5_3      0.720056  1.288658e-24
3  X5_4      0.783025  1.703177e-31

=== Uji Validitas X6 ===
   item  r_item_total       p_value
0  X6_1      0.436342  3.681363e-08
1  X6_2      0.714492  4.240869e-24
2  X6_3      0.581547  1.394044e-14
3  X6_4      0.568070  7.544543e-14
4  X6_5      0.622417  5.011329e-17

Item valid (r_item_total >= 0.30 & p < 0.05):
   item  r_item_total       p_value
0  X6_1      0.436342  3.681363e-08
1  X6_2      0.714492  4.240869e-24
2  X6_3      0.581547  1.394044e-14
3  X6_4      0.568070  7.544543e-14
4  X6_5      0.622417  5.011329e-17

=== Uji Validitas X7 ===
   item  r_item_total       p_value
0  X7_1      0.725879  3.590125e-25
1  X7_2      0.756593  2.362102e-28
2  X7_3      0.850317  5.565577e-42
3  X7_4      0.791045  1.546904e-32
4  X7_5      0.669795  2.380303e-20

Item valid (r_item_total >= 0.30 & p < 0.05):
   item  r_item_total       p_value
0  X7_1      0.725879  3.590125e-25
1  X7_2      0.756593  2.362102e-28
2  X7_3      0.850317  5.565577e-42
3  X7_4      0.791045  1.546904e-32
4  X7_5      0.669795  2.380303e-20

#**Uji reliabilitas (Cronbach’s Alpha)**

In [14]:
for nama, cols in scales.items():
    df_scale = dataset[cols]

    alpha = cronbach_alpha(df_scale)
    print(f"\n=== Uji Reliabilitas {nama} ===")
    print(f"Cronbach's Alpha = {alpha:.3f}")

    # Cek alpha jika item dihapus
    info = []
    for c in cols:
        alpha_if_deleted = cronbach_alpha(df_scale.drop(columns=[c]))
        info.append({
            "item": c,
            "alpha_if_deleted": alpha_if_deleted
        })
    info_df = pd.DataFrame(info)
    print("Cronbach's Alpha jika item dihapus:")
    print(info_df)

=== Uji Reliabilitas X1 ===
Cronbach's Alpha = 0.899
Cronbach's Alpha jika item dihapus:
   item  alpha_if_deleted
0  X1_1          0.867341
1  X1_2          0.866288
2  X1_3          0.883443
3  X1_4          0.888980
4  X1_5          0.881253

=== Uji Reliabilitas X2 ===
Cronbach's Alpha = 0.788
Cronbach's Alpha jika item dihapus:
   item  alpha_if_deleted
0  X2_1          0.745985
1  X2_2          0.724308
2  X2_3          0.740415
3  X2_4          0.783352
4  X2_5          0.741376

=== Uji Reliabilitas X3 ===
Cronbach's Alpha = 0.875
Cronbach's Alpha jika item dihapus:
   item  alpha_if_deleted
0  X3_1          0.839294
1  X3_2          0.895881
2  X3_3          0.840535
3  X3_4          0.833351
4  X3_5          0.832781

=== Uji Reliabilitas X5 ===
Cronbach's Alpha = 0.890
Cronbach's Alpha jika item dihapus:
   item  alpha_if_deleted
0  X5_1          0.859514
1  X5_2          0.851661
2  X5_3          0.873950
3  X5_4          0.849864

=== Uji Reliabilitas X6 ===
Cronbach's Alpha = 0.800
Cronbach's Alpha jika item dihapus:
   item  alpha_if_deleted
0  X6_1          0.804284
1  X6_2          0.719805
2  X6_3          0.762623
3  X6_4          0.766829
4  X6_5          0.749534

=== Uji Reliabilitas X7 ===
Cronbach's Alpha = 0.903
Cronbach's Alpha jika item dihapus:
   item  alpha_if_deleted
0  X7_1          0.888852
1  X7_2          0.881404
2  X7_3          0.860094
3  X7_4          0.873632
4  X7_5          0.898949

#**Analisis CFA (Confirmatory Factor Analysis)**

##**Menyiapkan data untuk CFA**

In [15]:
rename_dict = {}

# X1: Pengetahuan
for i, col in enumerate(X1_cols, start=1):
    rename_dict[col] = f"KN{i}"

# X2: Risiko
for i, col in enumerate(X2_cols, start=1):
    rename_dict[col] = f"RS{i}"

# X3: Kepercayaan
for i, col in enumerate(X3_cols, start=1):
    rename_dict[col] = f"TR{i}"

# X5: Literasi
for i, col in enumerate(X5_cols, start=1):
    rename_dict[col] = f"LT{i}"

# X6: Pengaruh sosial
for i, col in enumerate(X6_cols, start=1):
    rename_dict[col] = f"SO{i}"

# X7: Minat
for i, col in enumerate(X7_cols, start=1):
    rename_dict[col] = f"IN{i}"

data_cfa = dataset[list(rename_dict.keys())].rename(columns=rename_dict)

print(data_cfa.head())

   KN1  KN2  KN3  KN4  KN5  RS1  RS2  RS3  RS4  RS5  ...  SO1  SO2  SO3  SO4  \
0    3    4    4    4    4    3    3    3    3    3  ...    4    3    4    5
1    5    5    3    3    5    3    3    4    2    4  ...    3    3    3    5
2    4    4    4    3    4    3    3    3    3    4  ...    3    2    2    3
3    4    4    4    3    4    3    3    4    3    4  ...    3    3    3    5
4    3    3    3    2    2    3    3    3    2    2  ...    1    5    3    5

   SO5  IN1  IN2  IN3  IN4  IN5
0    4    3    3    3    3    3
1    3    3    3    4    4    4
2    2    4    4    4    4    4
3    3    1    2    3    1    4
4    5    3    3    3    3    3

[5 rows x 29 columns]

##**Normalization with Z-Score**

In [16]:
data_cfa_z = (data_cfa - data_cfa.mean()) / data_cfa.std(ddof=0)

In [17]:
data_cfa_z

,KN1,KN2,KN3,KN4,KN5,RS1,RS2,RS3,RS4,RS5,...,SO1,SO2,SO3,SO4,SO5,IN1,IN2,IN3,IN4,IN5
0,-0.783488,0.135482,0.334945,0.635301,0.311899,-0.513279,-0.435313,-0.940192,-0.348637,-1.059753,...,0.450903,-0.669736,0.921871,0.726857,0.431540,0.042424,-0.436900,-0.038650,-0.173504,-0.324499
1,1.139021,1.124500,-0.570648,-0.215653,1.260591,-0.513279,-0.435313,0.069132,-1.366659,0.000000,...,-0.503182,-0.669736,0.042177,0.726857,-0.397471,0.042424,-0.436900,0.767487,0.618106,0.604458
2,0.177766,0.135482,0.334945,-0.215653,0.311899,-0.513279,-0.435313,-0.940192,-0.348637,0.000000,...,-0.503182,-1.575120,-0.837517,-1.151393,-1.226481,0.816657,0.425091,0.767487,0.618106,0.604458
3,0.177766,0.135482,0.334945,-0.215653,0.311899,-0.513279,-0.435313,0.069132,-0.348637,0.000000,...,-0.503182,-0.669736,0.042177,0.726857,-0.397471,-1.506043,-1.298891,-0.038650,-1.756723,0.604458
4,-0.783488,-0.853536,-0.570648,-1.066607,-1.585486,-0.513279,-0.435313,-0.940192,-1.366659,-2.119506,...,-2.411353,1.141032,0.042177,0.726857,1.260550,0.042424,-0.436900,-0.038650,-0.173504,-0.324499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,1.139021,1.124500,-0.570648,-0.215653,1.260591,1.383905,1.461871,1.078456,0.669384,1.059753,...,1.404989,0.235648,-0.837517,0.726857,-0.397471,0.042424,0.425091,-0.038650,0.618106,0.604458
142,0.177766,0.135482,0.334945,-0.215653,0.311899,1.383905,0.513279,-2.958840,-0.348637,1.059753,...,1.404989,1.141032,0.042177,0.726857,1.260550,0.042424,-0.436900,-0.038650,-0.173504,-0.324499
143,1.139021,0.135482,0.334945,-0.215653,0.311899,0.435313,-0.435313,0.069132,-0.348637,-1.059753,...,-0.503182,0.235648,0.042177,0.726857,1.260550,0.042424,-0.436900,-1.650926,-0.965113,-0.324499
144,0.177766,0.135482,0.334945,-0.215653,0.311899,-0.513279,-0.435313,0.069132,-0.348637,0.000000,...,1.404989,0.235648,-0.837517,-1.151393,-0.397471,-0.731810,0.425091,-0.038650,-0.173504,0.604458
145,0.177766,0.135482,1.240538,1.486255,0.311899,0.435313,0.513279,0.069132,1.687405,1.059753,...,1.404989,-0.669736,-0.837517,-2.090519,-1.226481,0.816657,0.425091,0.767487,0.618106,0.604458

##**Mendefinisikan Spesifikasi Model Pengukuran**

In [18]:
model_desc = """
# Faktor laten & indikatornya
Knowledge =~ KN1 + KN2 + KN3 + KN4 + KN5
Risk      =~ RS1 + RS2 + RS3 + RS4 + RS5
Trust     =~ TR1 + TR2 + TR3 + TR4 + TR5
Literacy  =~ LT1 + LT2 + LT3 + LT4
Social    =~ SO1 + SO2 + SO3 + SO4 + SO5
Intention =~ IN1 + IN2 + IN3 + IN4 + IN5

# Korelasi antar faktor (sesuai teori, di sini semua dibiarkan saling berkorelasi)
Knowledge ~~ Risk + Trust + Literacy + Social + Intention
Risk      ~~ Trust + Literacy + Social + Intention
Trust     ~~ Literacy + Social + Intention
Literacy  ~~ Social + Intention
Social    ~~ Intention
"""

##**Fitting CFA**

In [20]:
model = Model(model_desc)

res = model.fit(data_cfa_z)
print(res)

Name of objective: MLW
Optimization method: SLSQP
Optimization successful.
Optimization terminated successfully
Objective value: 4.922
Number of iterations: 77
Params: 1.011 0.840 0.824 0.938 0.997 1.279 0.683 1.436 0.666 0.945 1.032 1.025 0.993 0.939 1.030 1.656 1.325 1.345 1.434 1.032 1.179 1.091 0.950 0.459 0.472 0.534 -0.165 0.411 0.761 0.343 0.316 -0.070 0.240 0.335 0.361 -0.033 0.300 0.685 -0.195 0.488 0.684 -0.181 0.245 0.407 0.369 0.176 0.294 0.465 0.593 0.239 0.222 0.463 0.483 0.330 0.316 0.326 0.396 0.274 0.666 0.667 0.452 0.844 0.309 0.754 0.327 0.570 0.557 0.495 0.315 0.696 0.389 0.270 0.280

##**Evaluasi CFA**

###**Signifikansi Factor loadings**

In [22]:
params = model.inspect()

# factor loading (item <- faktor)
loadings = params[params['op'] == '~']
print("\nFACTOR LOADINGS:")
print(loadings)

FACTOR LOADINGS:
   lval op       rval  Estimate  Std. Err    z-value   p-value
0   KN1  ~  Knowledge  1.000000         -          -         -
1   KN2  ~  Knowledge  1.010851  0.068774  14.698113       0.0
2   KN3  ~  Knowledge  0.839682  0.078811  10.654443       0.0
3   KN4  ~  Knowledge  0.824491  0.079568  10.362039       0.0
4   KN5  ~  Knowledge  0.937855   0.07334  12.787825       0.0
5   RS1  ~       Risk  1.000000         -          -         -
6   RS2  ~       Risk  0.997488  0.175266   5.691268       0.0
7   RS3  ~       Risk  1.279152  0.189459   6.751608       0.0
8   RS4  ~       Risk  0.682839  0.162804   4.194232  0.000027
9   RS5  ~       Risk  1.436224  0.198849   7.222679       0.0
10  TR1  ~      Trust  1.000000         -          -         -
11  TR2  ~      Trust  0.666306  0.096504   6.904429       0.0
12  TR3  ~      Trust  0.944802  0.087699  10.773295       0.0
13  TR4  ~      Trust  1.032476  0.084507  12.217698       0.0
14  TR5  ~      Trust  1.025128  0.084745  12.096605       0.0
15  LT1  ~   Literacy  1.000000         -          -         -
16  LT2  ~   Literacy  0.992838  0.085971  11.548493       0.0
17  LT3  ~   Literacy  0.939324  0.087967  10.678169       0.0
18  LT4  ~   Literacy  1.030376  0.084626  12.175625       0.0
19  SO1  ~     Social  1.000000         -          -         -
20  SO2  ~     Social  1.656247  0.290738   5.696705       0.0
21  SO3  ~     Social  1.324540  0.254509     5.2043       0.0
22  SO4  ~     Social  1.344539  0.256438    5.24314       0.0
23  SO5  ~     Social  1.434374  0.265387   5.404843       0.0
24  IN1  ~  Intention  1.000000         -          -         -
25  IN2  ~  Intention  1.031612  0.101119  10.201921       0.0
26  IN3  ~  Intention  1.178504  0.098586  11.954105       0.0
27  IN4  ~  Intention  1.091174  0.099921  10.920382       0.0
28  IN5  ~  Intention  0.950053  0.102733   9.247759       0.0

###**Goodness-of-fit index**

In [23]:
stats_fit = calc_stats(model)

print("Chi-square:", stats_fit.chi2.iloc[0])
print("df:", stats_fit['DoF'].iloc[0])
print("p-value:", stats_fit['chi2 p-value'].iloc[0])
print("CFI:", stats_fit['CFI'].iloc[0])
print("TLI:", stats_fit['TLI'].iloc[0])
print("RMSEA:", stats_fit['RMSEA'].iloc[0])

Chi-square: 718.6384555879885
df: 362
p-value: 0.0
CFI: 0.8718641477624834
TLI: 0.8562896242861002
RMSEA: 0.08242819670871011